---
import { Icon } from 'astro-icon/components'

/**
 * SocialShares Component
 *
 * @description A component for sharing content on social media platforms
 */
interface Props {
  /**
   * The URL to share
   * @default Current page URL
   */
  url?: string
}

const { url = Astro.url.href } = Astro.props
---

<ul class="ml-[-10px] flex flex-wrap gap-3 pt-4">
<li class="animate-bouncing">
    <a href={`mailto:?subject=Check%20out%20this%20link&body=${encodeURIComponent(url)}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Share via Email</span>
      <Icon name="qlementine-icons:mail-16" size={40} />
    </a>
  </li>
  <li class="animate-bouncing">
    <a href={`https://bsky.app/intent/compose?text=Check%20out%20this%20link&url=${encodeURIComponent(url)}`} target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Share on Bluesky</span>
      <Icon name="proicons:bluesky" size={40} />
    </a>
  </li>
  <li class="animate-bouncing">
    <a
      href={`https://mastodon.social/share?text=Check%20out%20this%20link&url=${encodeURIComponent(url)}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Share on Mastodon</span>
      <Icon name="qlementine-icons:mastodon-24" size={40} />
    </a>
  </li>
  <li class="animate-bouncing">
    <a
      href={`https://www.reddit.com/submit?url=${encodeURIComponent(url)}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Share on Reddit</span>
      <Icon name="ph:reddit-logo" size={40} />
    </a>
  </li>
</ul>
