---

---

<span class="
bg-clip-text 
text-transparent 
bg-linear-to-tl 
from-indigo-900
to-yellow-600
to-85% 
dark:from-indigo-100
dark:bg-linear-to-br
dark:from-20% 
dark:to-78%
">
<slot>Gradient</slot>
</span>